*{
    margin: 0;
    padding: 0;
}

.wrapper{
    margin: 0 auto;
    max-width: 1000px;
}
.carousel-list{
    list-style: none;
    width: 10000px;
    position: relative;
}
.another_wrapper{
    position: relative;
}
.carousel-wrapper{
    width: 675px;
    overflow: hidden;
    margin: 50px;
    float: left;
    
}

.carousel-item{
    display: block;
    margin-right: 25px;
    float: left;
}

.carousel-item img{
    max-width: 200px;
}

.carousel-item p{
    text-align: center;
}





.prev-move, .next-move{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000;
    border: solid 1px #000;
    color: white;
    position: absolute;
}
.prev-move{
    top: 246px;
    left: 246px;
}
.next-move{
    top: 246px;
    left: 477px;
}


.script-wrapper{
    margin: 0 auto;
    width: 600px;
    background-color: #eee;
    padding: 20px;
    -webkit-box-shadow: 13px 13px 25px 2px rgba(0,0,0,0.71);
-moz-box-shadow: 13px 13px 25px 2px rgba(0,0,0,0.71);
box-shadow: 13px 13px 25px 2px rgba(0,0,0,0.71);
}

.script-wrapper h1{
    text-align: center;
}

figure{
    text-align: center;
    padding: 20px;
}

.script-wrapper h4{
    padding-top: 20px;
}
